* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
}
.bg-gradient {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 76, 77, 0.15),
    #eeeeee
  );
}
.bg-no-gradient {
  background-image: linear-gradient(to bottom, rgba(76, 76, 76, 0), #eeeeee);
}
.App {
  height: 100vh;
  display: grid;
  grid-template-rows: 7% 93%;
}
.container {
  display: grid;
  grid-template-rows: 92% 8%;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items:center; */
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content h1,
.content p {
  font-family: "Roboto", sans-serif;
}
.logo-nav{
  height: 100%;
  padding: 4px;
}
.input-submit {
  fill: #05aa57;
  height: 90%;
  width: 5%;
  border: none;
  border-radius: 4px;
  margin-left: .1rem;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.158);
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.none {
  display: none !important;
}
.visible {
  display: flex;
}
.grey {
  fill: grey;
}
.red {
  fill: red;
}
.chat-list {
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 58%;
  list-style: none;
}
.chat-list li {
  position: relative;
  margin-bottom: 8px;
  margin-top: 5px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-rows: 10% 80%;
  padding: 0px;
  max-width: 240px;
  background-color: #ff4c4d;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  border-radius: 15px;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}
.mensagem {
  padding: 12px;
}
.mensagem-nome {
  text-align: left;
  font-size: 0.85rem;
  margin-bottom: 4px;
}
.mensagem-texto {
  padding: 5px 0;
  text-align: left;
  font-size: 1.1rem;
}
.mensagem-horario{
  text-align: right;
  font-size: 0.85rem;
  padding: 0px;
}
.float-right {
  float: right;
  margin-right: 10px;
}
.float-left {
  float: left;
  margin-left: 10px;
}

.style-7::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}
.style-7::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.style-7::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
}

a {
  font-size: 1.2rem;
}
p {
  padding-bottom: 10px;
}
.pointer {
  cursor: pointer;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 76, 77, 0.15),
    #eeeeee
  );
}

.form-wrapper {
  width: 580px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 7px 7px 16px -2px rgba(0,0,0,0.37);
  background-color: #ffffff;
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-family: "Nunito", sans-serif;
}

label,
input,
.createAccount button {
  font-family: "Nunito", sans-serif;
}

h1 {
  margin: 1rem 0;
  font-family: "Varela Round", sans-serif;
  text-align: center;
  color: #111;
  font-size: 2.2rem;
  font-weight: bold;
}

label {
  font-size: 1.2rem;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: lighter;
}

input {
  padding: 8px 10px;
  border-radius: 3px;
  outline: none;
  border: 1.5px solid #cfcfcf;
  font-size: 1.2rem;
  transition: all 0.4s ease;
}
input[type="image"]{
  padding: 0;
}
input:focus {
  border: 1.5px solid rgb(29, 175, 233);
  box-shadow: 0 0 8px rgba(81, 203, 238, 1);
}

input::placeholder {
  font-size: 1em;
  font-weight: lighter;
  color: #999;
}

.firstName {
  margin-right: 1%;
}

.firstName,
.lastName {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.firstName,
.lastName {
  width: 49%;
}

.createAccount {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createAccount button {
  background-color: #05aa57;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 0.3rem;
  width: 100%;
  margin-top: 0.3r em;
  padding: 14px 0px;
  font-size: 1.3rem;
  letter-spacing: 1px;
  margin-bottom: 1em;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.createAccount button:hover {
  color: #05aa57;
  background-color: #fff;
  border: 3px solid #05aa57;
}

.input-text {
  margin-left: 1rem;
  border: none;
  border-radius: 20px;
  width: 49%;
  padding: 10px;
  font-size: 1rem;
}
.tri-right.right-top:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -10px;
  top: 0px;
  bottom: auto;
  border: 12px solid;
  border-color: #ff4c4d transparent transparent transparent;
}
.bg-dark {
  background-color: #343a40;
  color: #fff;
}
.tri-right.left-top:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -10px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 12px solid;
  border-color: #ff4c4d transparent transparent transparent;
}
.bg-dark {
  background-color: #343a40;
  color: #fff;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0rem 2rem;
  z-index: 1;
  width: 100%;
  top: 0;
  opacity: 1;
  box-shadow: 0px .2px 5px #555;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.bg-light{
  background-color: rgba(255, 255, 255, 0.932);
color: #343a40;
}

.bg-dark {
  background-color: #343a40;
  color: #fff;
}
.navbar a {
  font-family: 'Nunito',sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  color: #343a40;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: #17a2b8;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
